<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="stylesheet" href="./mvp.css" />
</head>

<body>
  <main>
    <div class="parent">
      <div class="header">
        <h1 class="centertext">Voice Translator</h1>
      </div>
      <div class="leftnav"> </div>
      <div class="maincontent">
        <form id="error">
          <p id="errorText">Please verify your email to complete the signup process.</p>
        </form>
      </div>
      <div class="rightnav"> </div>
      <div class="footer">
        <p class="footertext">Please report any issues by clicking <a
            href="mailto:voice_translator@yahoo.com">here</a><br>
          &copy; Copyright Voice Translator 2020
        </p>
      </div>
    </div>
  </main>
</body>

</html>