<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="stylesheet" href="./mvp.css" />
</head>
<body>
   <main>
     <div style="text-align:center;"><h1>Voice Translator</h1></div> 
     <section>
       <form>
         <p><h2>Your file is currently being processed</h2></p>
         <a href="/sessionLogout">Log out</a>
       </form>
     </section>
   </main>
</body>
</html>
