<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="stylesheet" href="./mvp.css" />
</head>

<body>
  <main>
    <div class="parent">
      <div class="header">
        <h1 class="centertext">Voice Translator</h1>
      </div>
      <div class="leftnav"> </div>
      <div class="maincontent">
        <form id="home">
          <h4 class="centertext">Your file is currently being processed</h4>
          <button id="home">Home</button><br>
          <a class="linktext" href="/sessionLogout">Log out</a>
        </form>
      </div>
      <div class="rightnav"> </div>
      <div class="footer"> </div>
    </div>

    <script>
      window.addEventListener("DOMContentLoaded", () => {
        document
          .getElementById("home")
          .addEventListener("click", (event) => {
            event.preventDefault();
            window.location.assign("/landing");
            return false;
          });
      });
    </script>
  </main>
</body>

</html>