<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Translate</title>
  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="stylesheet" href="./mvp.css" />
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</head>

<body>
  <main>
    <div style="text-align:center;">
      <h1>Voice Translator</h1>
    </div>
    <section>
      <form id="landing">
        <div class="buttonHolder">
          <button id="translate">Translate</button><br>
          <button id="checkstatus">Check status</button><br><br>
          <a href="/sessionLogout">Log out</a>
        </div>
      </form>
    </section>

    <script>
      window.addEventListener("DOMContentLoaded", () => {

        document
          .getElementById("translate")
          .addEventListener("click", (event) => {
            event.preventDefault();
            window.location.assign("/translate");
            return false;
          });

        document
          .getElementById("checkstatus")
          .addEventListener("click", (event) => {
            event.preventDefault();
            window.location.assign("/checkstatus");
            return false;
          });

      });
    </script>
  </main>
</body>

</html>