<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google-signin-client_id"
    content="753356494760-74fh1dbi0tpkkifv1vee1v7u00jbf341.apps.googleusercontent.com">
  <meta name="google-signin-cookiepolicy" content="single_host_origin">
  <meta name="google-signin-scope" content="profile email">
  <title>Log in page</title>
  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="stylesheet" href="./mvp.css" />
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css"> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"> -->
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
  <script src="https://apis.google.com/js/platform.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script src="./init-firebase.js"></script>
  <script src="./utils.js" charset="UTF-8"></script>
</head>

<body onload="document.getElementById('login').focus();">
  <main>
    <div class="parent">
      <div class="header">
        <h1 class="centertext">Voice Translator</h1>
      </div>
      <div class="leftnav"> </div>
      <div class="maincontent">
        <form id="loginForm">
          <input type="text" placeholder="Enter Email" name="login" id="login" required><span class="error"
            id="errorEmail"></span>
          <input type="password" placeholder="Enter Password" name="password" id="password" required><span class="error"
            id="errorPassword"></span><br>
          <a class="forgot" href="/forgotPassword">Forgot password?</a><br>
          <button>Log in</button>
          <a class="noaccount" href="/signup">Don't have an account? Sign up!</a><br>
          <hr class="divider" />
          <div class="centertext txt2">or Login with Social Media</div><br><br>
          <!-- <a href="#" id="googleSignIn" class="google btn" data-onsuccess="onSignIn" data-theme="dark">
            <i class="fa fa-google fa-fw"></i>
            Sign in with Google
          </a> -->
          <div id="googleSignIn" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" data-longtitle="true">
          </div>
          <!-- <div id="customGoogleBtn" data-onsuccess="onSignIn" data-theme="dark" data-longtitle="true">
            <span class="icon"></span>
            <span class="buttonText">Sign in with Google</span>
          </div>
          <div id="name"></div>
          <script>onSignIn();</script> -->
        </form>
      </div>
      <div class="rightnav"> </div>
      <div class="footer">
        <p class="footertext">Please report any issues by clicking <a
            href="mailto:voice_translator@yahoo.com">here</a><br>
          &copy; Copyright Voice Translator 2020
        </p>
      </div>
    </div>

    <script>
      window.addEventListener("DOMContentLoaded", () => {

        document
          .getElementById("loginForm")
          .addEventListener("submit", (event) => {
            event.preventDefault();
            const login = event.target.login.value;
            const password = event.target.password.value;

            firebase
              .auth()
              .signInWithEmailAndPassword(login, password)
              .then(({ user }) => {
                return user.getIdToken().then((idToken) => {
                  return fetch("/sessionLogin", {
                    method: "POST",
                    headers: {
                      Accept: "application/json",
                      "Content-Type": "application/json",
                      "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                    },
                    body: JSON.stringify({ idToken, login }),
                  });
                });
              })
              .then(() => {
                return firebase.auth().signOut();
              })
              .then(() => {
                window.location.assign("/landing");
              })
              .catch((error) => {
                loginError(error);
              });
            return false;
          });
      });
    </script>
  </main>
</body>

</html>