<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Password reset page</title>
  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="stylesheet" href="./mvp.css" />
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script src="./init-firebase.js"></script>
  <script src="./formvalidation.js" charset="UTF-8"></script>
</head>

<body onload="document.getElementById('login').focus();">
  <main>
    <div class="parent">
      <div class="header">
        <h1 class="centertext">Voice Translator</h1>
      </div>
      <div class="leftnav"> </div>
      <div class="maincontent">
        <form id="passwordreset" onsubmit="return passwordresetFormValidation()">
          <p id="statusText" class="status"></p>
          <input type="text" placeholder="Enter Email" name="login" id="login" required><span class="error"
            id="errorEmail"></span>
          <input type="password" placeholder="Enter New Password" name="password" id="password" required><span class="error"
            id="errorPassword"></span>
          <input type="password" placeholder="Confirm New Password" name="pswConfirm" id="pswConfirm" required><span
            class="error" id="errorConfirmPsw"></span><br>
          <button id="updatepassword">Update password</button><br>
          <p class="centertext"><a href="/login">Sign in</a></p>
        </form>
      </div>
      <div class="rightnav"> </div>
      <div class="footer"> </div>
    </div>
  </main>
</body>

</html>