<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registration page</title>
  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="stylesheet" href="./mvp.css" />
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script src="./init-firebase.js"></script>
  <script src="./formvalidation.js" charset="UTF-8"></script>
</head>

<body onload="document.getElementById('login').focus();">
  <main>
    <div class="parent">
      <div class="header">
        <h1 class="centertext">Voice Translator</h1>
      </div>
      <div class="leftnav"> </div>
      <div class="maincontent">
        <form id="signupForm" onsubmit="return signupFormValidation()" method="post">
          <h2 class="centertext"><%= headerText %></h2>
          <input type="text" placeholder="Enter Email" name="login" id="login" required><span class="error"
            id="errorEmail"></span>
          <br>
          <button id="signup">Sign up</button>
          <p class="centertext">Already have an account? <a href="/login">Sign in</a>.</p>
        </form>
      </div>
      <div class="rightnav"> </div>
      <div class="footer">
        <p class="footertext">Please report any issues by clicking <a
            href="mailto:voice_translator@yahoo.com">here</a><br>
          &copy; Copyright Voice Translator 2020
        </p>
      </div>
    </div>
  </main>
</body>

</html>