<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload an audio/video file</title>
  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="stylesheet" href="./mvp.css" />
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script src="./languagelist.js" charset="UTF-8"></script>
  <script src="./formvalidation.js" charset="UTF-8"></script>
</head>

<body onload="languagelist()">
  <main>
    <div class="parent">
      <div class="header">
        <h1 class="centertext">Voice Translator</h1>
      </div>
      <div class="leftnav"> </div>
      <div class="maincontent">
        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data"
          onsubmit="return uploadFormValidation()">
          <label for="srclang">From Language:</label>
          <select id="srclang" name="srclang" class="required">
          </select>
          <label for="tgtlang">To Language:</label>
          <select id="tgtlang" name="tgtlang" class="required">
          </select><br>
          <label for="file">Audio File Name:</label>
          <input type="file" id="file" name="file">
          <span class="error" id="errorFile"></span><br><br>
          <button id="upload">Upload</button><br>
          <a class="linktext" href="/landing">Home</a>
        </form>
      </div>
      <div class="rightnav"> </div>
      <div class="footer"> </div>
    </div>
  </main>
</body>

</html>