<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload an audio/video file</title>
  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="stylesheet" href="./mvp.css" />
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script src="./languagelist.js" charset="UTF-8"></script>
</head>

<body onload="languagelist()">
  <main>
    <div style="text-align:center;">
      <h1>Voice Translator</h1>
    </div>
    <section>
      <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
        <label for="srclang">From Language:</label>
        <select id="srclang" name="srclang">
        </select>
        <label for="tgtlang">To Language:</label>
        <select id="tgtlang" name="tgtlang">
        </select><br>
        <label for="file">Audio File Name:</label>
        <input type="file" id="file" name="file"><br><br>
        <div class="buttonHolder">
          <button id="upload">Upload</button><br><br>
          <a href="/sessionLogout">Log out</a>
        </div>
      </form>
    </section>

    <script>
      window.addEventListener("DOMContentLoaded", () => {
        document
          .getElementById("uploadForm")
          .addEventListener("submit", (event) => {
            event.preventDefault();

            var formData = new FormData(document.querySelector('#uploadForm'));

            var xhr = new XMLHttpRequest();
            xhr.open('post', '/upload', true);
            xhr.setRequestHeader("CSRF-Token", Cookies.get("XSRF-TOKEN"));
            // xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.upload.onprogress = function (e) {
              if (e.lengthComputable) {
                var percentage = (e.loaded / e.total) * 100;
                console.log(percentage + "%");
              }
            };

            xhr.onerror = function (e) {
              console.log('Error');
              console.log(e);
            };
            xhr.onload = function () {
              console.log("onload function");
            };

            xhr.send(formData);
            xhr.onreadystatechange = function () {
              if (xhr.readyState === 4) {
                window.location.assign("/viewstatus");
              }
            }
            // window.location.assign("/viewstatus");
            return false;

          });
      }); 
    </script>
  </main>
</body>

</html>