<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View status</title>
  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="stylesheet" href="./mvp.css" />
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</head>

<body>
  <main>
    <div class="parent">
      <div class="header">
        <h1 class="centertext">Voice Translator</h1>
      </div>
      <div class="leftnav"> </div>
      <div class="maincontent">
        <form id="viewstatus" action="/viewstatus" method="get">
          <p id="status">
            <% if(translatedFile.includes("is currently being processed")) { %>
              <p><%= translatedFile %></p>
            <% } else { %>
              <button onclick="window.open('<%= translatedFile %>', '_blank');">Translated file</button><br>
            <% } %>
          </p><br>
          <button id="home">Home</button><br>
          <a class="linktext" href="/sessionLogout">Log out</a>
        </form>
      </div>
      <div class="rightnav"> </div>
      <div class="footer">
        <p class="footertext">Please report any issues by clicking <a
            href="mailto:voice_translator@yahoo.com">here</a><br>
          &copy; Copyright Voice Translator 2020
        </p>
      </div>
    </div>

    <script>
      window.addEventListener("DOMContentLoaded", () => {
        document
          .getElementById("home")
          .addEventListener("click", (event) => {
            event.preventDefault();
            window.location.assign("/landing");
            return false;
          });
      });
    </script>
  </main>
</body>

</html>